@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: rgba(71, 211, 211,.65);
}
.app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background-color: rgba(255, 255, 255, .6);
  word-wrap: break-word;
  word-break: break-all;
  max-width: 290px;
}
.screen{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  background-color: #333;
  color: #fff;
  gap: 3px;
  font-size: 1.7rem;
  min-height: 60px;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}
.digits{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.operators{
  display: flex;
  justify-content: space-around;
}
span{
  font-size: 1rem;
  color: rgba(255, 255, 255, .7);
}
button{
  background-color: rgba(255, 255, 255, .8);
  height: 60px;
  min-width: 55px;
  outline: none;
  font-size: 1.1rem;
  border: 1px solid #fff;
}
button:hover,button:focus{
  cursor: pointer;
  background-color: rgba(3, 3, 3,.7);
  color: #fff;
}
